* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* ------------------------------PAGE D'ACCUEIL - KEVIN ------------------------------------------ */

header,
img {
  height: 135px;
}
li,
a,
button {
  font-size: 500;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #01191e;
}

.logo {
  cursor: pointer;
}

.nav_link {
  list-style: none;
}

.nav_link li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_link li a {
  transition: all 0.3s ease 0s;
  color: white;
}
.nav_link li a:hover {
  color: #28bdd6;
  text-shadow: 1px 0 10px;
}

.nav_link li:hover {
  transform: scale(1.5);
}

button {
  padding: 9px 25px;
  background-color: rgba(1, 0, 8, 0.938);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #28bdd6;
  color: white;
}

button:hover {
  background-color: #28bdd6;
  opacity: 0.5;
  color: black;
}

#main-image {
  height: 580px;
  background: url("/images/main.jpg") center;
  background-repeat: no-repeat;

}


#main-image h2 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 150px 0 40px 0;
  margin-bottom: 20px;
  text-shadow: 1px 0 4px;
}
#main-image button {
  text-align: center;
  margin-left: 45%;
  background-color: #01191e;

}

#main-image button:hover {
  transform: scale(1.3);
  background-color: black;
  color: #28bdd6;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #01191e;
  color: white;
  text-align: center;
}
